html {
    font-size: 100%;
}

header {
    background: transparent url('../images/header-theme.jpg') center center;
    height: 701px;
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header-top-wrapper {
    background-color: rgba(16, 22, 54, 0.2);
}

.header-top {
    max-width: 994px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 52px;
}

.header-logo-wrapper {
    line-height: 60px;
}

.header-logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
}

.header-logo span {
    color: #4970f1;
}

.header-logo-point {
    font-size: 0.875rem;
    font-weight: 100;
    font-style: italic;
    color: #b0b2b9;
    letter-spacing: 1px;
}

.header-logo-tab {
    color: #354a5a;
    padding: 0 20px;
}

.header-nav ul {
    display: flex;
    list-style: none;

}

.header-nav li + li {
    padding-left: 30px;
}

.header-nav a {
    padding: 15px 0;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.header-nav a:hover {
    border-top: solid 1px #4c76ff;
}

.header-middle {
    padding: 0 15px;
    text-align: center;
    margin-top: 220px;
}

.big-logo {
    font-size: 3.875rem;
    letter-spacing: 0;
}

.header-title h1 {
    color: #cdcbcc;
    margin: 0;
    font-size: 3rem;
    font-weight: 100;
}
.header-title p {
    color: #cdcbcc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title  span {
    font-size: 3rem;
    color: #4b71ed;
}
.header-title p {
    font-size: 1.125rem;
    color: #ededec;
}
.header-title p span {
    padding: 0 30px;
}
.container {
    margin: 0 auto;
}
.features-content {
    background-color: #efefef;
}
.main-title {
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: -0.02rem;
    color: #4c76ff;
    padding: 50px 0;

}
.features-big-title {
    color: #062033;
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.features-title-content {
    font-size: 0.625rem;
    color: #6e767d;
    line-height: 1.63;
}
.branding,
.consulting,
.development {
    position: relative;
    padding-left: 50px ;
}
.branding:before {
    content: '1';
    position: absolute;
    display: block;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ceb54a;
}
.development:before {
    content: '1';
    position: absolute;
    display: block;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ceb54a;
}
.consulting:before {
    content: '1';
    position: absolute;
    display: block;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ceb54a;
}