
body {
    width: 930px ;
}
ul {
    counter-reset: counter;
    list-style: none;
    padding: 0;
}
.counter {
    counter-increment: counter;
    font-family: Arial sans-serif;
    line-height: 18px;
    padding: 10px 0 10px 52px;
    position:relative ;
}
.counter:nth-child(odd) {
    background-color: #ccc   ;
}
.counter:before {
    content: counter(counter);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    bottom: 0;
}
.counter:nth-child(odd):before {
    background-color: #cc4242;
}
.counter:nth-child(even):before {
    background-color: #fe5353;
}

